<ng-template #shoppingListAddInline>
    <tr>
        <td>
            <input class="form-control" type="text" >
        </td>
        <td>
            <input class="form-control" type="text">
        </td>
        <td style="vertical-align: middle; text-align: right">
            <button type="button" class="btn btn-primary me-1">+ Add</button>
            <button type="button" class="btn btn-secondary me-1">Clear</button>
            <button type="button" class="btn btn-secondary">Cancel</button>
        </td>
    </tr>
</ng-template>


