<div *ngFor="let recipe of recipes">
    <div (click)="onClick(recipe)"  class="card" style="margin-bottom: 5px;">
        <div class="row">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{recipe.name}}</h5>
                    <p class="card-text">{{recipe.description}}</p>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-end">
                <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-fluid p-1 fixed-image">
            </div>
        </div>
    </div> 
</div>


