.fixed-image {
    width: 150px;
    height: 100px;
    object-fit: cover;
  }
  
  .card:hover {
    /* Styles on hover */
    background-color: #eee;
  }

  .card.active {
    /* Styles on active */
    background-color: #eee;
  }