<div *ngFor="let recipe of recipes, let i = index">
    <div routerLinkActive="active" [routerLink]="['/recipes', i, recipe.name]" class="card" style="margin-bottom: 5px;">
        <div class="row">
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-title">{{recipe.name}}</p>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-end">
                <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-fluid p-1 fixed-image">
            </div>
        </div>
    </div> 
</div>


