/* The backdrop is a semi-transparent layer that covers the entire screen 
   and provides a dimmed background for the modal. */
   .backdrop {
    position: fixed; /* Fixed position so it stays in place even when scrolling */
    top: 0; /* Positioned at the top of the viewport */
    left: 0; /* Positioned at the left edge of the viewport */
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    background: rgba(0, 0, 0, 0.75); /* Semi-transparent black background (75% opacity) */
    z-index: 50; /* A high z-index to ensure the backdrop is above other elements */
  }
  
/* Custom Modal Styles */
.alert-box {
    position: fixed; /* Fixed position to keep the alert box in place */
    top: 20%; /* Position the alert box 20% from the top of the viewport */
    left: 50%; /* Position the alert box 50% from the left of the viewport */
    transform: translate(-50%, -50%); /* Center the alert box horizontally and vertically */
    width: 30vw; /* Set the width of the alert box to 30% of the viewport width */
    padding: 16px; /* Add some padding inside the alert box */
    z-index: 100; /* Set a high z-index to ensure the alert box is above other elements */
    background: white; /* Set the background color of the alert box to white */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); /* Add a box shadow to create a subtle shadow effect */
    border-radius: 10px;
  }
  
  
  /* The actions container within the alert box */
  .alert-box-actions {
    text-align: right; /* Align the actions to the right within the alert box */
  }
  
  /* Header Styles */
  .alert-box .header {
    display: flex; /* Use flexbox for horizontal alignment */
    justify-content: space-between; /* Align heading and close button to opposite ends */
    align-items: center; /* Center the items vertically */
    margin-bottom: 10px; /* Add some margin at the bottom of the header */
  }
  
  /* Heading Styles */
  .alert-box .header h3 {
    margin: 0; /* Remove default margin for the heading */
  }
  
  /* Close Button Styles */
  .alert-box .header .btn-close {
    background-color: transparent; /* Use transparent background */
    border: none; /* Remove border */
    font-size: 18px; /* Adjust font size as needed */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  