<div class="alert alert-warning" *ngIf="recipeId <= -1 || recipe === undefined" role="alert">
  Recipe doesn't exist.
</div>


<div class="card" *ngIf="recipeId >= 0 && recipe != null">
  <img src="{{recipe.imagePath}}" class="card-img-top" alt="{{recipe.name}}" style="max-height: 500px; object-fit: cover;">

  <div class="card-body">
    <h2 class="card-title">{{recipe.name}}</h2>
    <p class="card-text">{{recipe.description}}</p>
  </div>
  <div class="card-body">
    <h5 class="card-title">Ingredient:</h5>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <button class="btn btn-primary" (click)="onClickAddButton()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" [disabled]="recipe.ingredient.materials.length == 0" >Add to Shopping List</button>
    </div>
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col" class="col-md-3">Item</th>
          <th scope="col" class="col-md-3">Amount</th>
        </tr>
      </thead>
      <tbody>
          <ng-container *ngFor="let material of recipe.ingredient.materials">
              <tr>
                  <td>{{material.item}}</td>
                  <td>{{material.amount}}</td>
              </tr>
          </ng-container>
      </tbody>
    </table>
  </div>

  <div class="card-body">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <button class="btn btn-primary" type="button" (click)="onClickEditButton()">Edit Recipe</button>
      <button class="btn btn-danger" type="button" (click)="onDeleteButton()">Delete Recipe</button>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Added to your Shopping List:</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table">
            <tbody>
                <ng-container *ngFor="let material of recipe.ingredient.materials">
                    <tr>
                        <td>{{material.item}}</td>
                        <td>{{material.amount}}</td>
                    </tr>
                </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

